.widgetDiv_old {
	 width: 100%; /* Make it responsive */
     max-width: 400px; /* Set a max-width */
    height: auto; /* Allow height to adjust */
	border-radius: 2rem;
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
}
