.userSettings{
    margin: var(--spacing);
    overflow-y: auto;
    height: 90%;
}

form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px 20px;
    align-items: center;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    grid-column: 1 / -1;
}

label {
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
}

.settingsField {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-right: 15px;
}

